{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Go-on-a-Trip</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/hillstations">Hillstations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trekking">Trekking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/lakes">Lakes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/wildlife">Wildlife</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/contact">Contact</a>
              </li>
              
              
    
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <!---------------------------------navbar-------------------------->
      <article>
        <h1 style="color: indigo;"> Jammu  Kashmir Hillstations</h1>
        <p>
          <img src="{% static 'images/img26.jpg' %}" alt="..." style="float:right";height="400";width="400">
        The state of Jammu and Kashmir is declared a 'paradise on earth' because of its marvellous natural beauty. Majestic Himalayas, snowy valleys, plenty of pilgrims and stunning lakes form the identity of this 'crown of India'. J&K's hill stations make you experience the outstanding heights and engaging climate. A few destinations offer tranquil peace in cool natural surroundings, while some are known for various adventure sports. Kashmir hills and valleys have a number of beautiful lakes, flower gardens and steep mountains to explore, and Jammu has plenty of lakes and steep hills. Ladakh region is highly influenced by Buddhism, therefore you can find countless monasteries surrounded by snow clad high mountains and snow deserts.</p>
        <br><br>
        <h3 style="color : orangered ;"> Aru </h3>
        <p>Far from the stress, dust and pollution of he urban life, Aru welcomes you to the tranquil and serene meadow, approximately 107 km from Srinagar. Located at a height of around 2408 meters, Aru is famous for the Lidder River, Lidderwat meadow, Kolahoi Glacier, conifer spread mountains and trekking opportunities. The dense woods is home to various birds and wild animals. The best period for blooming of nature during summer is considered between May To September, while in winter it is November To February. The melodious chirp of birds, the cool breeze, open blue skies, green-golden grass, crystal clear waters and misty mountains all around make Aru one of the best hill stations in the Kashmir region.</p>
      
      </article>
      <article>
        <h3 style="color : orangered ;"> Dah and Hanu</h3>
        <p>Enjoying sheer isolation, Dah and Hanu are beautiful hilly villages in the Ladakh Region. The places witness the maximum tourists between the months of October To June. They provide you with an opportunity to visit the gigantic Hindukush mountains and the great Indus River. Dah Hanu is basically the main village of the Dards. The landscapes are full of apricot ans apple trees. The villges offer an enchanting and romantic view of the sunrise and sunset from the hills.
        </p>
      </article>
      <airticle>
        <h3 style="color : orangered ;"> Kishtwar</h3>
        <p>The upland valley of Kishtwar, comprising Kishtwar National Park as well, is a major hill station in Jammu region. The area boasts of The Pir Panjal range, Great Himalayan Ranges, and the Chenab river that not only form a unique ecosystem and bio-geographical pattern but also draws lakhs of tourists every season. The hills are ideal for trekking and mountaineering, while the lands are perfect for growing saffron. The wooded hills are provided contrast with beautiful waterfalls. These wooded hills and the Kishtwar National Park are rich in wildlife like snow-deer, leopard, Neel Gai and musk-deer. Although a small region, Kishtwar is rich in all such attractions as well as pilgrims.</p>
      </airticle>
      <article>
        <h3 style="color : orangered ;"> Patnitop</h3>
        <p> This beautiful serene hill station has all the attractions that an ideal hilly tourist destination should have. The place is rich in dense pines, snow clad peaks, waterways, freshwater springs, adventure sports and a unique climate. At an altitude of 2024 metres, you will find a huge golf course too. Sudh Mahadev is another sacred spot situated close to Patnitop. May-June in summer and September-October in autumn is the best time to visit Patnitop to explore nature at its best. If seeking snowboard joys, December to March is the time to be here.

        </p>
      </article>
      <airticle>
        <h3 style="color : orangered ;"> Sonmarg</h3>
        <p>Known as the 'Meadow of Gold', Sonmarg is an ideal place for camping. Countless colourful flowers and the holy Sindh river form a perfect gateway to Ladakh. Nature lovers can spot dense forests of alpine flowers, silver birch, fir and pine, and various lakes. Most importantly, this hill station serves as a base camp for the holy Amarnath yatra, which is organized in July-August every year. People also visit the nearby Nilagrad river, which is pure red in colour and is believed to have curative powers for skin ailments.</p>
      </airticle>
      <airticle>
        <h3 style="color : orangered ;"> Srinagar</h3>
        <p>The summer capital of Kashmir is situated on the banks of the Jhelum river. Srinagar is considered the most beautiful and most visited city of the state of J&K, the year round. The famous Dal Lake and Nagin Lake are the assets and identity of Srinagar. These lakes are visited for an enchanting view of Mughal gardens and unique houseboats and shikara rides. The Dal Lake gets frozen in winter and offers an opportunity for various adventure sports. The city is a leading player in handicrafts too. Srinagar, undoubtedly the best hill station in J&K, gives you a totally different experience.</p>
      </airticle>
      <br><br><br><br>
      <footer class="bg-success text-white position-relative">
        <p class="text-center py-2 mr-0">@Copyright 2021-2031 www.goonatrip.com.All rights reserved .</p>
      </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>