<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Go-on-a-Trip</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/hillstations">Hillstations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trekking">Trekking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/lakes">Lakes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/wildlife">Wildlife</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/contact">Contact</a>
              </li>
              
              
    
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <!--------------------------------nav bar------>
      <airticle>
        <h1 style="color : indigo ;"> Lakes Of Jammu and Kashmir</h1>
        <p>
          Visit the water bodies in the lower Shiwalik Himalayas, Kashmir valley and the high mountains of the Kashmir Himalayas for a complex and vibrant ecosystem. The center of life for the inhabitants of the state, these lakes are credited for the emergence of a unique culture of the state of J&K. One can almost see the whole city travelling through these lakes. These tranquil and snowy lakes have been a major attraction of this paradise on earth. Surrounded and protected by the Himalayan Mountains on all sides, these natural treasures offer a unique experience of living on water in the specially designed houseboats. Several scenic lakes with multi-faceted eco-system and grandeur, which epitomize the state of Jammu and Kashmir are-
        </p>
      </airticle>
      <airticle>
        <h3 style="color : indigo ;"> Dal lake </h3>
        <p>Popular as the jewel in the crown of Kashmir, the Dal Lake is the most famous and most visited lake in the state. Lined with Mughal-era gardens, the lake is rich in lotus, water lillies and water chestnuts. It is among those major destinations that let you free to enjoy life on water in the houseboats. One can have the pleasure of Shikara rides, kayaking, canoeing and other water activities in the Dal. Surrounded by mountains on three sides, the lake gives a paradisiacal view when frozen in winter.
        </p>
      </airticle>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GArmKjlo0Jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <airticle>
        <h3 style="color : indigo ;"> Nagin Lake</h3>
        <p>Located east of Kashmir, the lake lies on the foothills of the mountain Zabarwan. A number of willow and poplar trees lining the lake, Shankaracharya hill on the south and Hari Parbat on the west provide a charming view to the surroundings. Along with several water activities and Shikara rides, one can also hire  boats,  a romantic experience. Several salesmen can also be seen selling fruit, nuts, fresh flowers, baked goods, woolen shawls, silk carpets, leather goods and other materials on their boats.
        </p>
      </airticle>
      <airticle>
        <h3 style="color : indigo ;"> Wular lake</h3>
        <p>With a width and length of approximately 10 and 24 km respectively, Wullar Lake is one of the largest fresh water lakes in Asia. The lake gives about 60 percent of the fish yield of the region. Its perfect location between the cities of Sopore and Bandipore provides a marvellous view of the majestic hills on one side and steep valleys on the other. Wullar Lake, which draws water from the northern river Jhelum, lies at a distance of 60 km from Srinagar. Moreover, a renowned bird watcher's paradise, Nal Sarovar Bird Sanctuary is also situated near the Lake.</p>
      </airticle>
      <airticle>
        <h3 style="color : indigo ;"> Mansar Lake</h3>
        <p>Popular for the food and crafts festival, the Mansar lake draws thousands of tourists every year around Baisakhi. Apart from the scenic beauty and landscapes, the lake has several religious values too. Situated about 40 km south of Udhampur, the Mansar lake is surrounded by dense forests and hills. The lake is counted among major tourists destinations because of boating facilities and its religious values owing to Sheeshnag shrine. Newly wed couples perform three 'Parikramas' (circumambulations) around the lake to seek the blessings of the lord of serpents. Flickering of seasonal birds, tortoise and fish of different species can be observed while boating in the calm Mansar lake.
        </p>
      </airticle>
      <airticle>
        <h3 style="color : indigo ;"> Pangong Tso</h3>
        <p>Located in an isolated area at a 5 hr drive (160 km) from Leh, this 134 km long lake extends from India to China. Tourists mostly visit this lake during May to September with a special permit. The Pangong lake boasts of being the world's highest brackish lake at a height of about 4,250 m (13,900 ft) from  sea level. Villagers can be seen with their large herds of Pashmina sheep and long-tailed yaks. Despite being a salt water lake, it surprisingly gets frozen in winter. With such a wonderful location and a scarcity of oxygen, the Pangong Lake is a geologist's domain too.
        </p>
      </airticle>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/e_Kpc4V8HqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <article>
        <h3 style="color : indigo ;"> Tso Moriri Lake </h3>
        <p>Providing a majestic natural view of Ladakh in the north, Tibet in the east and Zanskar in the west, Tso Moriri lake is mostly visited in summer. Changthang plateau, with snow peaks, provides the source of water for the Lake. The lake is popular for being the largest of the High Altitude Lakes in the Trans-himalayan region, entirely within India. It was earlier a salty lake whose salt was extracted by the end of 1959 for the consumption by the local people. Tourists flock to the lake to visit the Korzok Monastery, situated on the western bank of the lake, believed to be about 400 years old.
        </p>
      </article>
      <br><br><br><br>
      <footer class="bg-success text-white position-relative">
        <p class="text-center py-2 mr-0">@Copyright 2021-2031 www.goonatrip.com.All rights reserved .</p>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>